
.number-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 20px;
    background-color:lightyellow
  }
  
  
